body {
  background-image: url('brwn021.jpg');
}

img {
  display: block;
  margin: auto;
}

.bottom {
  position: fixed;
  bottom: 0;
}

.simpleframe {
  background-color: white;
  border: 1px solid black;
  margin: auto;
  max-width: fit-content;
  padding: 1em;
  text-align: center;
}
